PORT=3000
NODE_ENV=production
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=1d
COOKIE_NAME=rentalshop_token
DOMAIN_NAME=app.example.com
LETSENCRYPT_EMAIL=admin@example.com
ADMIN_USERNAME=morina
ADMIN_PASSWORD=yeungocanh
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=admin
MONGODB_URI=mongodb://admin:admin@mongodb:27017/rental-shop?authSource=admin
    